QFrame{
    background-color: #001b28;
    min-width: 150px;
    max-width: 150px;
}

QPushButton{
    background-color: #001b28;
    color: rgb(80, 127, 230);
    font-size: 17px;
    max-height: 51px;
    border: 0px solid;
}

QPushButton::hover{
    background-color: #00293d;
    color: rgb(80, 127, 230);
    font-size: 17px;
    border: 0px solid;
}

QPushButton::pressed{
    background-color: #00293d;
    color: rgb(80, 127, 230);
    font-size: 17px;
    border: 0px solid;
}



